body{
    font-family: 'Convergence', sans-serif;

}



.wrapper{
    width: 1000px;
    height: 612px;
    /*border: solid black 2px;*/
    margin:40px auto;
}


.navbar{
    width: 100%;
    background-color: #7DBDFF;
    height: 25px;
    top: 0;



}

#home{
    padding-left: 150px;

}

#about{

    padding-left: 150px;

}

#donate{
    padding-left: 150px;

}

#contact{
    padding-left: 150px;

}
a:hover{
    text-decoration: none;
}
a:link{
    text-decoration: none;
    color: black;
}

.textwrap1{
    float: left;
    width: 35%;
}
.textwrap2{
    float: left;
    width: 35%;
    margin-left: 85px;
}


ul{
    list-style: none;
    
}

li{
    display: inline-block;
}

.home{


}
