/**********GENERAL********/

body{
    font-family: 'Lato', sans-serif;
}

.wrapper{
    width: 1000px;
    height: 612px;
    /*border: solid black 2px;*/
    margin:40px auto;
}

/**********NAVBAR**********/

.navbar{
    width: 100%;
    background-color: #7DBDFF;
    margin-bottom: 10px;
    border: solid black 2px;
}

.banner{
    height: 299px;
    width: 1000px;
    margin-left: 130px;
    margin-top: 45px;
    border: solid black 3px;
}

a:hover{
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    
}

li{
    display: inline-block;
}

/***********HOME PAGE************/

#home{
    padding-left: 150px;
}

/************DONATE PAGE*********/

#donate{
    padding-left: 150px;
}

/************CONTACT PAGE********/

#contact{
    padding-left: 150px;
}

.secondary{

    padding-bottom: 15px;
}

/************INFO PAGE***********/

.textwrap1{
    float: left;
    width: 35%;
}

.textwrap2{
    float: left;
    width: 35%;
    margin-left: 85px;
    margin-right: 35px;
}

#about{
    padding-left: 150px;
}


/***********FOOTER***********/

.end{
    text-align: center;
    clear: both;
    margin-top: 20px;
}
